<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:bean="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="theWolverine"/>
    <dubbo:registry address="${zookeeper}" transporter="curator"/>
    <dubbo:consumer check="false"/>

    <!--帐号服务-->
    <dubbo:reference interface="com.gaosi.api.davincicode.AccountService" id="accountService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.ShareSessionService" id="shareSessionService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.AuthenticationService" id="authenticationService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.AccessAuthorityService" id="accessAuthorityService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.RoleService" id="roleService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.UserService" id="userService"/>

    <bean id="userSessionService" class="com.gaosi.api.davincicode.common.service.UserSessionHandler">
        <property name="shareSessionService" ref="shareSessionService"/>
        <property name="accessAuthorityService" ref="accessAuthorityService"/>
    </bean>

    <dubbo:reference interface="com.gaosi.api.revolver.facade.ConsigneeServiceFacade" id="consigneeService"/>
    <dubbo:reference interface="com.gaosi.api.basicdata.AreaApi" id="areaApi"/>
    <dubbo:reference interface="com.aixuexi.account.api.AxxBankService" id="axxBankService"/>
    <dubbo:reference interface="com.gaosi.api.revolver.facade.OrderServiceFacade" id="orderServiceFacade"/>
    <dubbo:reference interface="com.aixuexi.account.api.GoodsService" id="goodsService"/>
    <dubbo:reference interface="com.gaosi.api.independenceDay.service.ShoppingCartService" id="shoppingCartService"/>
    <dubbo:reference interface="com.gaosi.api.revolver.facade.GoodsServiceFacade" id="vGoodsService"/>
    <dubbo:reference interface="com.gaosi.api.revolver.facade.GoodsOrderService" id="goodsOrderService"/>
    <dubbo:reference interface="com.gaosi.api.basicdata.DictionaryApi" id="dictionaryApi"/>

    <dubbo:reference interface="com.gaosi.api.basicdata.SubjectProductApi" id="subjectProductApi"/>
    <dubbo:reference interface="com.gaosi.api.basicdata.ExamAreaApi" id="examAreaApi"/>
    <dubbo:reference interface="com.gaosi.api.basicdata.BookVersionApi" id="bookVersionApi"/>
</beans>