<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 快递公司 -->
    <bean id="expressUtil" scope="singleton" class="com.aixuexi.vampire.util.ExpressUtil">
        <property name="syncToWms" value="${syncToWms}"/>
        <property name="freightUpdateTime" value="${freightUpdateTime}"/>
        <property name="splitTips" value="${splitTips}"/>
        <property name="aging" value="${aging}"/>
        <property name="expressTips" value="${expressTips}"/>
    </bean>

</beans>