<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.aixuexi.vampire"/>

    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="com.aixuexi.vampire.converter.DateConverter" />
            </set>
        </property>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService">
    <mvc:message-converters>
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            <property name="objectMapper">
                <bean class="com.aixuexi.vampire.util.CustomObjectMapper"/>
            </property>
            <property name="supportedMediaTypes">
                <list>
                    <value>application/json;charset=UTF-8</value>
                </list>
            </property>
        </bean>
    </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="baseValidatorFactory" class="com.aixuexi.thor.validate.factory.BaseValidatorFactory"/>
    <bean id="validateAspect" class="com.aixuexi.thor.validate.aspect.ValidationAspect">
        <constructor-arg name="validatorFactories">
            <array>
                <ref bean="baseValidatorFactory"/>
            </array>
        </constructor-arg>
    </bean>
    <aop:config>
        <aop:aspect ref="validateAspect">
            <aop:around method="around" pointcut="execution(* com.aixuexi.vampire.controller..*.*(..))"/>
        </aop:aspect>
    </aop:config>
</beans>