<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:bean="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://code.alibabatech.com/schema/dubbo 
		http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <dubbo:application name="vampire"/>
    <dubbo:registry address="${zookeeper}" transporter="curator" file="${catalina.home}/dubbo-registry/dubbo-registry.properties" />
    <dubbo:consumer check="false" filter="catTransaction,apiResponseCheckFilter"/>


    <!--帐号服务-->
    <dubbo:reference interface="com.gaosi.api.davincicode.AccountService" id="accountService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.ShareSessionService" id="shareSessionService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.AuthenticationService" id="authenticationService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.AccessAuthorityService" id="accessAuthorityService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.RoleService" id="roleService"/>
    <dubbo:reference interface="com.gaosi.api.davincicode.UserService" id="userService"/>

    <bean id="userSessionService" class="com.gaosi.api.davincicode.common.service.UserSessionHandler">
        <property name="shareSessionService" ref="shareSessionService"/>
        <property name="accessAuthorityService" ref="accessAuthorityService"/>
    </bean>

    <!-- 订单中心相关接口 -->
    <dubbo:reference interface="com.gaosi.api.revolver.facade.OrderServiceFacade" id="orderServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.revolver.facade.ItemOrderServiceFacade" id="itemOrderServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.revolver.facade.InvServiceFacade" id="invServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.revolver.facade.SubOrderServiceFacade" id="subOrderServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.revolver.facade.ExpressServiceFacade" id="expressServiceFacade" />
    <!-- 商品相关接口 -->
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.ConsigneeServiceFacade" id="consigneeServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.GoodsServiceFacade" id="goodsServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.ShoppingCartServiceFacade" id="shoppingCartServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.GoodsPicServiceFacade" id="goodsPicServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.MallItemExtServiceFacade" id="mallItemExtServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.MallCategoryServiceFacade" id="mallCategoryServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.GoodsPeriodServiceFacade" id="goodsPeriodServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.GoodsTypeServiceFacade" id="goodsTypeServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.MallItemPicServiceFacade" id="mallItemPicServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.MallSkuExtTalentServiceFacade" id="mallSkuExtTalentServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.MallSkuPicServiceFacade" id="mallSkuPicServiceFacade" />
    <dubbo:reference interface="com.gaosi.api.vulcan.facade.ArrivalNoticeServiceFacade" id="arrivalNoticeServiceFacade" />

    <!--基础数据-->
    <dubbo:reference id="districtApi" interface="com.gaosi.api.basicdata.DistrictApi"/>
    <dubbo:reference interface="com.gaosi.api.basicdata.DictionaryApi" id="dictionaryApi" />
    <dubbo:reference interface="com.gaosi.api.basicdata.SubjectProductApi" id="subjectProductApi" />
    <dubbo:reference interface="com.gaosi.api.basicdata.ExamAreaApi" id="examAreaApi" />
    <dubbo:reference interface="com.gaosi.api.basicdata.BookVersionApi" id="bookVersionApi" />
    <dubbo:reference interface="com.gaosi.api.basicdata.SchemeApi" id="schemeApi"  />
    <dubbo:reference interface="com.gaosi.api.basicdata.SubjectApi" id="subjectApi"  />
    <dubbo:reference interface="com.gaosi.api.axxBank.service.FinancialAccountService" id="financialAccountService"  />

    <!-- 机构服务 -->
    <dubbo:reference interface="com.gaosi.api.turing.service.InstitutionService" id="institutionService"/>
    <dubbo:reference interface="com.gaosi.api.turing.service.GroupInstitutionService" id="groupInstitutionService"/>
    <dubbo:reference interface="com.gaosi.api.warcraft.mq.TaskProducerApi" id="taskProducerApi"/>
    <dubbo:reference interface="com.gaosi.api.independenceDay.service.UserService" id="userServiceIndependenceDay"  />

    <!-- 工单服务 -->
    <dubbo:reference interface="com.gaosi.api.workorder.facade.TemplateServiceFacade" id="templateServiceFacade"/>
    <dubbo:reference interface="com.gaosi.api.workorder.facade.WorkOrderServiceFacade" id="workOrderServiceFacade"/>
    <dubbo:reference interface="com.gaosi.api.workorder.facade.FieldConfServiceFacade" id="fieldConfServiceFacade"/>
    <!-- 人才中心服务 -->
    <dubbo:reference interface="com.gaosi.api.xmen.service.TalentDemandService" id="talentDemandService"/>
    <dubbo:reference interface="com.gaosi.api.xmen.service.TalentOperatorRecordsService" id="talentOperatorRecordsService"/>
</beans>